torch==2.8.0
onnx
onnxsim
onnxruntime
loguru
attr
transformers==4.48.0
num2words
spacy
phonemizer
misaki>=0.7.0,<0.9.0
espeakng_loader
ordered_set
pypinyin
cn2an
jieba
onnxscript


